-c requirements.txt
pytest==7.4.2
black==23.9.1
pre-commit==3.4.0
pyright==1.1.329
python-box==7.1.1

#gcp libraries added so we can test cloud run code
google-cloud-logging==3.6.0
google-cloud-run==0.9.1
